*{
  font-family: 'Cabin';
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 50vh;
    border-radius: 5px;
    border: 1px solid #44d7a8;
}

.login{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
}

button{
    width: 60%;
    padding: 10px;
    background-color: #43b3ae;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.username{
    font-weight: bold;
    color: #44d7a8;
    position: absolute;
    top: 15px;
    font-size: 20px;
    right: 20px;
}